:root {
  --sd-color-primary: #f37726;
  --sd-color-primary-highlight: #da864e;
  --sd-color-secondary: #f37726;
  --sd-color-secondary-highlight: #da864e;
}
::-webkit-scrollbar {
  display: none;
}
.base {
  margin-right: 80px;
  margin-left: 80px;
}
.box {
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.small {
  font-size:14px;
}
.mini {
  font-size:12px;
  font-weight:normal;
}
.mini-title {
  font-size:12px;
  font-weight:bold;
  color:#da864e;
}
.mini-title-r {
  font-size:12px;
  font-weight:bold;
  color:#d72d47;
}
.right {
  font-size:12px;
  text-align:right;
  display:block;
}
.center {
  text-align:center;
  display:block;
  font-weight:bold;
}
.top {
  font-size:12px;
  color:#f37726;
  text-align:right;
  display:block;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0;
}
p {
  margin-bottom:1.2em;
  line-height:1.8;
}
a {
  text-decoration: none;
}
ol {
  font-size:12px;
}
hr {
  border: 2px solid #f37726;
}
strong {
  font-weight:bold;
  color:#f37726;
}
sub {
  color:#f37726;
  font-weight:bold;
}
h1 {
  font-size:32px;
  margin-top: 48px;
  margin-bottom:200px;
  text-align:center;
}
h2 {
  font-size:32px;
  margin-top:200px;
  margin-bottom:0;
  text-align:center;
}
h3 {
  font-size:32px;
  margin-top:200px;
  margin-bottom:0;
  text-align:center;
}
h4 {
  font-size:16px;
}

.u {
  border-bottom: 2px solid #f37726;
}
.ur {
  border-bottom: 2px solid #d72d47;
}
.ut {
  border-bottom: 1px solid #f37726;
}
.doc {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  margin-bottom:1.2em;
  line-height:1.8;
}
.title {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  margin-bottom:1.2em;
  line-height:1.8;
  margin-top:2em;
  font-weight:bold;
  padding-left:1em;
  text-indent:-1em;
}
.foot {
  margin-right: 120px;
  margin-left: 80px;
  font-size:12px;
  padding-left:1em;
  text-indent:-1em;
}
.hg-idt1 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:1em;
  text-indent:-1em;
}
.hg-idt2 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:2em;
  text-indent:-1em;
}
.hg-idt3 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:3em;
  text-indent:-1em;
}
.hg-idt4 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:4em;
  text-indent:-1em;
}
.hg-idt23 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:3em;
  text-indent:-2em;
}
.idt {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  text-indent:1em;
}
.idt1 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:1em;
  text-indent:1em;
}
.idt2 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:2em;
  text-indent:1em;
}
.idt3 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:3em;
  text-indent:1em;
}
.idt4 {
  margin-right: 120px;
  margin-left: 80px;
  font-size:14px;
  padding-left:4em;
  text-indent:1em;
}


.doc-1 {
  font-size:14px;
  margin-bottom:1.2em;
  line-height:1.8;
}
.title-1 {
  font-size:14px;
  margin-bottom:1.2em;
  line-height:1.8;
  margin-top:2em;
  font-weight:bold;
  padding-left:1em;
  text-indent:-1em;
}
.foot-1 {
  font-size:12px;
  padding-left:1em;
  text-indent:-1em;
}
.hg-idt1-1 {
  font-size:14px;
  padding-left:1em;
  text-indent:-1em;
}
.hg-idt2-1 {
  font-size:14px;
  padding-left:2em;
  text-indent:-1em;
}
.hg-idt3-1 {
  font-size:14px;
  padding-left:3em;
  text-indent:-1em;
}
.hg-idt4-1 {
  font-size:14px;
  padding-left:4em;
  text-indent:-1em;
}
.hg-idt23-1 {
  font-size:14px;
  padding-left:3em;
  text-indent:-2em;
}
.idt-1 {
  font-size:14px;
  text-indent:1em;
}
.idt1-1 {
  font-size:14px;
  padding-left:1em;
  text-indent:1em;
}
.idt2-1 {
  font-size:14px;
  padding-left:2em;
  text-indent:1em;
}
.idt3-1 {
  font-size:14px;
  padding-left:3em;
  text-indent:1em;
}
.idt4-1 {
  font-size:14px;
  padding-left:4em;
  text-indent:1em;
}
.hg-idtm1-1 {
  font-size:14px;
  padding-left:1em;
  text-indent:-1em;
  margin-top: 0;
  margin-bottom: 0;
}
.hg-idtm2-1 {
  font-size:14px;
  padding-left:2em;
  text-indent:-1em;
  margin-top: 0;
  margin-bottom: 0;
}
.hg-idtm3-1 {
  font-size:14px;
  padding-left:3em;
  text-indent:-1em;
  margin-top: 0;
  margin-bottom: 0;
}
.hg-idtm4-1 {
  font-size:14px;
  padding-left:4em;
  text-indent:-1em;
  margin-top: 0;
  margin-bottom: 0;
}
.hg-idt6-1 {
  font-size:14px;
  padding-left:6em;
  text-indent:-6em;
}
.padleft6 {
  font-size:14px;
  padding-left:6em;
}

@media only screen and (max-width: 767px) {
  .base {
    margin-right:0;
    margin-left:0;
  } 
  .box {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .center {
    text-align:left;
    display:block;
    font-weight:bold;
  }
  h1 {
    font-size:24px;
    margin-top: 48px;
    margin-bottom:160px;
    text-align:left;
  }
  h2 {
    font-size:24px;
    margin-top:160px;
    margin-bottom:0;
    text-align:left;
  }
  h3 {
    font-size:24px;
    margin-top:160px;
    margin-bottom:0;
    text-align:left;
  }
  .doc {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    margin-bottom:1.2em;
    line-height:1.8;
  }
  .title {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    margin-bottom:1.2em;
    line-height:1.8;
    margin-top:2em;
    font-weight:bold;
    padding-left:1em;
    text-indent:-1em;
  }
  .foot {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
  }
  .hg-idt1 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:1em;
    text-indent:-1em;
  }
  .hg-idt2 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:2em;
    text-indent:-1em;
  }
  .hg-idt3 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:3em;
    text-indent:-1em;
  }
  .hg-idt4 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:4em;
    text-indent:-1em;
  }
  .hg-idt23 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:3em;
    text-indent:-2em;
  }
  .idt {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    text-indent:1em;
  }
  .idt1 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:1em;
    text-indent:1em;
  }
  .idt2 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:2em;
    text-indent:1em;
  }
  .idt3 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:3em;
    text-indent:1em;
  }
  .idt4 {
    margin-right: 0;
    margin-left: 0;
    font-size:14px;
    padding-left:4em;
    text-indent:1em;
  }  
  .hg-idt6-1 {
    font-size:14px;
    padding-left:1em;
    text-indent:-1em;
  }
  .padleft6 {
    font-size:14px;
    padding-left:1em;
  }
}